// NAVIGATION 
body {
    padding-top: 60px;
}
.wrapper.navigation {
    background: white;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    padding: 10px;
    box-shadow: 20px 0 40px rgba(0,0,0,0.1);

	.main-logo {
		height: 40px;
		position: absolute;
		left: $base;
	}
    nav {
    	display: flex;
    	position: relative;
    	justify-content: flex-end;
    	max-width: 1400px;
    	margin: 0 auto;
    	padding: 0 $base;
    }
    a {
    	font-size: 16px;
    	margin: 12px 0 0 $base*2;
    	height: 21px;
    	line-height: 1em;
    	text-transform: uppercase;
        text-decoration: none;
    }
}
@media only screen and (max-width : 650px) {
    body {
        padding-top: 0;
    }
    .wrapper.navigation {
        display: none;
    }
}