// SHARED
body {
	background: #eee;
}
.wrapper {
	padding: $base*5 $base*2;
	max-width: 1400px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}
.logo {
	height: 60px;
}
.pullup {
	margin-top: $base*-9;
	padding-top: $base*11;
}
.wrapper.hr {
	padding: 0;
}
@media only screen and (max-width : 992px) {
	.wrapper {
		padding: $base*4 $base;
	}
	.logo {
		height: 30px;
	}
}
@media only screen and (max-width : 480px) {
	.logo {
		height: 30px;
	}
	.wrapper {
		padding: $base*2 $base/2;
	}
}

// SPECIFIC
.hero {
	// background: url(/images/cloudcity.jpg) no-repeat center center;
	height: 100vh;
	max-width: 100vw;
	width: 100vw;
	background-color: transparent;

	.hero-message {
		height: 100%;
		text-align: center;

		.text {
			margin: 160px auto 0;
			width: 900px;
			background: rgba(255,255,255,0.95);
    		padding: 80px 60px;

			p {
				margin-bottom: 0;
			}
		}
	}
}
@media only screen and (max-width : 1200px) {
	.hero .hero-message .text {
		width: 660px;
	}
}
@media only screen and (max-width : 1200px) {
	.hero .hero-message .text {
		width: 660px;
	}
}
@media only screen and (max-width : 992px) {
	.hero .hero-message .text {
		margin-top: 80px;
		padding: 60px 30px;
		width: 90%;
	}
}
@media only screen and (max-width : 480px) {
	.hero .hero-message .text {
		margin-top: $base;
		padding: $base;
	}
}

.intro {

	.stat {
		display: flex; 
		height: 300px;
		color: $pink;

		p {
			margin: auto;
		}
		.xl,
		.lg {
			display: block;
			line-height: 1em;
			text-align: center;
		}
		.xl {
			font-size: 96px;
			font-weight: bold;
		}
		.lg {
			font-size: 48px;
			text-transform: uppercase;
		}
	}
}
@media only screen and (max-width : 992px) {
	.intro {
		padding-top: 0;
	}
}

.schools {
	background: url(/images/bg-schools.jpg) no-repeat center center;
	background-size: 100% 100%; //contain;
	padding-bottom: 130px;
}
@media only screen and (max-width : 992px) {
	.schools {
		padding-bottom: 160px; 
	}
}
.labs {
	background: url(/images/bg-labs.png) no-repeat center center;
	background-size: 100% 100%; //contain;
	color: white;
	z-index: 100;
	@extend .pullup;

	.circle-image {
	    position: absolute;
	    width: 120%;
	    top: -160px;
	}
	
}
@media only screen and (max-width : 1180px) {
	.labs {
		overflow: hidden;
		.circle-image {
		    position: absolute;
		    width: 180%;
		    top: -160px;
		}
	}
}
@media only screen and (max-width : 992px) {
	.labs {
		padding-top: 200px;
		padding-bottom: 140px;

		.circle-image {
			display: none;
		}
	}
}
@media only screen and (max-width : 480px) {
	.labs {
		background-size: 200% 100%;
	}
}

.campus {
	@extend .pullup;

	h2 {
		margin-top: $base*6;
	}
}
@media only screen and (max-width : 480px) {
	.campus h2 {
		margin-top: 180px;
	}
}

.team {
	ul {
		display: flex;
		min-height: 460px;
		flex-flow: row wrap;
		justify-content: space-around;
		align-content: space-around;
	}
	.team-member {
		// if flex-box breaks things:
		// display: inline-block;
	    // margin: 3px;
		list-style: none;
	    width: 80px;
	    height: 80px;
	    margin: $base/4;
	    overflow: hidden;
	    border-radius: 100px;
	    background-size: contain;
	    transition: transform .1s cubic-bezier(0.43,-0.01, 1, 0.52);
	    position: relative;
	    z-index: 1;
		
		&:hover {
		    transform: scale(1.75);
		    z-index: 100;
		}
		&:hover:after {
			content: '';
			background: $pink;
			opacity: 0.4;
			width: 500px;
			height: 500px;
			position: absolute; 
		}
	}
	.tooltip-inner {
		font-size: 18px !important;
		width: 300px
	}
}
@media only screen and (max-width : 480px) {
	.team .team-member  {
		width: 60px;
		height: 60px;
	}
}

.cta {
	display: none;

	.container {
		border: 10px solid $pink;
		padding: $base*2;
	}
	.heading {
		display: flex;
		height: 120px;
	}
	h3,
	.btn {
		text-transform: uppercase;
		text-align: center;
	}
	h3 {
		color: $pink;
		margin: auto;
	}
	.btn {
		width: 100%;
		padding: $base;
		background: $pink;
		color: white;
		border-radius: 0;
		font-size: 28px;
	}
	p {
		font-size: .8em;
		margin: 10px 0 0;
		text-align: center;
	}
	img {
		height: 30px;
	}
}
.footer {
	background: white url(/images/bg-footer.png) no-repeat bottom right;
	background-size: contain;
}