// FUTURA

@font-face {
    font-family: 'futuracondensed_extrabold';
    src: url('/typography/futura-condensed-extrabold-webfont.eot');
    src: url('/typography/futura-condensed-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typography/futura-condensed-extrabold-webfont.woff2') format('woff2'),
         url('/typography/futura-condensed-extrabold-webfont.woff') format('woff'),
         url('/typography/futura-condensed-extrabold-webfont.ttf') format('truetype'),
         url('/typography/futura-condensed-extrabold-webfont.svg#futuracondensed_extrabold') format('svg');
    font-weight: bold;
    font-style: normal;

}


// PROXIMA NOVA

@font-face {
    font-family: 'proxima_novaregular';
    src: url('/typography/mark_simonson_-_proxima_nova-webfont.eot');
    src: url('/typography/mark_simonson_-_proxima_nova-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typography/mark_simonson_-_proxima_nova-webfont.woff2') format('woff2'),
         url('/typography/mark_simonson_-_proxima_nova-webfont.woff') format('woff'),
         url('/typography/mark_simonson_-_proxima_nova-webfont.ttf') format('truetype'),
         url('/typography/mark_simonson_-_proxima_nova-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular_it';
    src: url('/typography/mark_simonson_-_proxima_nova-webfont_it.eot');
    src: url('/typography/mark_simonson_-_proxima_nova-webfont_it.eot?#iefix') format('embedded-opentype'),
         url('/typography/mark_simonson_-_proxima_nova-webfont_it.woff2') format('woff2'),
         url('/typography/mark_simonson_-_proxima_nova-webfont_it.woff') format('woff'),
         url('/typography/mark_simonson_-_proxima_nova-webfont_it.ttf') format('truetype'),
         url('/typography/mark_simonson_-_proxima_nova-webfont_it.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont.eot');
    src: url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont.woff') format('woff'),
         url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont.ttf') format('truetype'),
         url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaextrabold_it';
    src: url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont_it.eot');
    src: url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont_it.eot?#iefix') format('embedded-opentype'),
         url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont_it.woff2') format('woff2'),
         url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont_it.woff') format('woff'),
         url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont_it.ttf') format('truetype'),
         url('/typography/mark_simonson_-_proxima_nova_extrabold-webfont_it.svg#proxima_novaextrabold') format('svg');
    font-weight: bold;
    font-style: italic;

}

// typefaces
body {
	font-family: 'proxima_novaregular', Helvetica, Arial, sans-serif;
    font-size: 24px;
}

i, 
em {
	font-family: 'proxima_novaregular_it', Helvetica, Arial, sans-serif;
	font-style: italic;
}
a {
    text-decoration: underline;
    color: black;
}
a:hover,
a:focus {
    text-decoration: none;
    color: $pink;
}
h2, 
h4, 
h5, 
h6, 
strong,
.xl {
	font-family: 'proxima_novaextrabold', Helvetica, Arial, sans-serif;
	weight: bold;
}

h1, 
h3 {
	font-family: 'futuracondensed_extrabold', Futura, "Arial Narrow", "Trebuchet MS", sans-serif;
	font-weight: bold;
}

// sizes
h1 {
    font-size: 96px;
    color: $pink;
    line-height: 1.2em;
    text-transform: uppercase;
}

h2, 
h3 {
    font-size: 48px;
    line-height: 1.2em;
}

// margins / padding
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 $base * 2;
}

p {
    margin: 0 0 $base;
}

ul {
    padding: 0;
}

@media only screen and (max-width : 992px) {
    body {
        font-size: 21px;
    }
    h1 {
        font-size: 64px;
    }
    h2, 
    h3 {
        font-size: 36px;
    }
}
@media only screen and (max-width : 480px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 36px;
    }
    h2, 
    h3 {
        font-size: 24px;
    }
    h1,
    h2,
    h3 {
        margin-bottom: $base;
    }
}


